CheckinSuite/Service References/mpapi/Api1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://thinkministry.com/" elementFormDefault="qualified" targetNamespace="http://thinkministry.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://my.faithchapel.cc/MinistryPlatformApi/Api.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ServerName" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="FirstOutParameter" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ContactID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="DomainID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="DomainGUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserGUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="DisplayName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ContactEmail" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ExternalURL" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CanImpersonate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateGUIDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UserGUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="DomainGUID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateGUIDSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="FirstOutParameter" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ContactID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="DomainID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="DisplayName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ContactEmail" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ExternalURL" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CanImpersonate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateContactGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ContactGUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="DomainGUID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateContactGUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="FirstOutParameter" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ContactID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="DomainID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="DisplayName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ContactEmail" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CanImpersonate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ServerName" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainGUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDomainGUIDResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrCreateUserAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="MobilePhone" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrCreateUserAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FindOrCreateUserAccountResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="FirstOutParameter" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ContactID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreatedNewContact" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreatedNewUser" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="NewPassword" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="MessageResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="MobilePhone" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NewPassword" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NickName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="PrefixID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="SuffixID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="DOB" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="GenderID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="MaritalStatusID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateUserAccountResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="NewPassword" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateUserPasswordResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ResetPasswordResult" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="NewPassword" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FileContents" type="xs:base64Binary" />
        <xs:element minOccurs="0" maxOccurs="1" name="FileName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="PageID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="RecordID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="FileDescription" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="IsImage" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="ResizeLongestDimension" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AttachFileResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDefaultImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="PageID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="RecordID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="UniqueName" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDefaultImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateDefaultImageResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="TableName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PrimaryKeyField" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RequestString" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AddRecordResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="TableName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PrimaryKeyField" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RequestString" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateRecordResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteStoredProcedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="StoredProcedureName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RequestString" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteStoredProcedureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ExecuteStoredProcedureResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecurringRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Pattern" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Frequency" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="StartBy" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="EndBy" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="EndAfter" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="SpecificDay" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrderDay" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="SpecificMonth" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Sunday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Monday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Tuesday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Wednesday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Thursday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Friday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Saturday" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecurringRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRecurringRecordsResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstDateInSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Pattern" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Frequency" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="StartBy" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="EndBy" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="EndAfter" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="SpecificDay" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrderDay" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="SpecificMonth" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Sunday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Monday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Tuesday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Wednesday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Thursday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Friday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Saturday" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstDateInSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetFirstDateInSeriesResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecurringRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="TableName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PrimaryKeyField" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RequestString" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="csvSubTabsToCopy" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CopySubTabsFromRecordID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Pattern" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Frequency" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="StartBy" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="EndBy" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="EndAfter" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="SpecificDay" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrderDay" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="SpecificMonth" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Sunday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Monday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Tuesday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Wednesday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Thursday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Friday" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Saturday" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecurringRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AddRecurringRecordsResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="GetFileResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>